.App {
  text-align: center;
  /* margin: 0; */
  background-color: white;
  margin: auto;
  
  /* background-color: #282c34; */
}

.mainAppCentered {
  display: flex;
  align-items: center;
  margin: 0 0;
}

/* .App-logo {
  height: 40vmin;
} */

.App-header {
  background-color: white;
  /* background-color: #282c34; */
  min-height: 100vh;
  /* padding: 10px; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  /* color: white; */
}

.App-link {
  color: #09d3ac;
}

body{
  margin: 0;
}