<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link href="Proposal.css" type="text/css" rel="stylesheet"/>
	
</head>

<body>
<div class="mainBox">
	<p>Language, by definition, is the method of human communication, either spoken or written, consisting of the use of words in a structured and conventional way. There is a beauty in the fact that humans have more than 600 forms of communicating with machines. </p>
	
	<p>
		The Elements Of is a multidimensional project that shows the human side and the artistic side of technology. The part of the project takes the programming languages and puts them in the format of the periodical table. Each element will have the information about the language interviews with the person or people who made it as well or interviews with historians about the language. This project will be turned into an app as well as made into a book.

	</p>
	</div>
	
	
	
</body>
</html>
