.iconresized{
    width: 65%;
    border-radius: 50%;
    border: 1px #00000057 solid;
    box-shadow: 13px 5px 13px #00000057;
}
.About section{
    padding-top: 15px;
    display: grid;
    grid-template-columns: .5fr 1fr;
    margin: 0 45px;
    /* background-color: grey; */
    /* padding: 5px; */
}
.About section p{
 text-align: justify;
 /* padding-right: 25px; */
}
section1{
    padding-top: 15px;
}
.About section1{
    padding-top: 15px;
    /* display: grid;
    grid-template-columns: .5fr 1fr; */
    margin: 0 25px;
    /* background-color: grey; */
    /* padding: 5px; */
}
.About section p1{
 text-align: justify;
 /* padding-right: 25px; */
}
.About article p{
    font-size: 18px;
    line-height: 2;
}
.rightsidetext{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 2;
}
.rightsidetext2{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 18px;
    line-height: 2;
}
.About h2{
    font-size: 70px;
    text-align: left;
    letter-spacing: -4px;
    border-bottom: 3px solid black ;
    padding-bottom: 15px;
    /* margin-left: 25px; */
    /* padding-left: 50px; */
}
.Fulldisplay{
    width: 100%;
    color: white;
    background-color: black;
    margin: 20px 0 0 0;
    /* height: 100px; */
    padding: 5px 20px;
}

.About h1{
    font-size: 50px;
    text-align: left;
    /* letter-spacing: -4px; */
    /* border-bottom: 3px solid black ; */
    text-align: center;
    padding-bottom: 15px;
}

.talking{
    font-size: 30px;
}

.paddedTop{
    padding-top: 90px;
}